.custom-button {
  min-width: 16.5rem;
  width: auto;
  height: 5rem;
  letter-spacing: 0.5px;
  line-height: 5rem;
  padding: 0 3.5rem 0 3.5rem;
  font-size: 1.5rem;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Truculenta", sans-serif;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0.3rem 0.7rem #000;

  &:hover {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000000;
    box-shadow: 0 0.5rem 1.2rem #000;
    transform: translateY(-2.5px);
  }
}

.google-sign-in {
  border: none;
  background-color: #fff;
  color: #000;

  &:hover {
    background-color: #357ae8;
    color: #fff;
    border: none;
  }
}
