.collection-item {
  width: 23%;
  display: flex;
  flex-direction: column;
  height: 50rem;
  align-items: center;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(#000, 0.2);

  &__image {
    width: 100%;
    height: 46%;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.5rem;
  }

  &__footer {
    width: 100%;
    height: 30%;
    font-size: 1.8rem;
    padding: 0 1rem;

    &-content {
      display: flex;

      justify-content: space-between;
      margin-bottom: 1rem;
    }
  }

  &__name {
    text-align: center;
    padding: 1rem 0;
    font-size: 2.2rem;
    width: 100%;
    height: 8rem;
    display: block;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__item {
    font-size: 2rem;
  }

  &__favorite-icon {
    height: 2rem;
    width: 2rem;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      animation: enlarge 0.5 ease-in-out;
    }
  }

  &__favorite-icon-container {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  .cart-icon__container {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }

  .custom-button {
    width: 80%;
    opacity: 0;
    position: absolute;
    top: 50rem;
  }

  &:hover {
    transition: all 0.5s ease-in-out;

    .custom-button {
      width: 80%;
      opacity: 1;
      position: absolute;
      top: 52rem;
    }

    .collection-item__image {
      opacity: 0.8;
    }

    .collection-item__favorite-icon-container {
      opacity: 1;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
