.header {
  height: 12rem;
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  &__logo-container {
    height: 100%;
  }

  &__logo {
    height: 100%;

    &--text {
      font-size: 3.3rem;
      text-transform: uppercase;
      letter-spacing: 0.11rem;
    }
  }

  &__nav {
    font-size: 2.4rem;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--link {
      padding: 1rem 3.5rem;
      cursor: pointer;
      // animation: fadeIn 1s ease-in 1s;
      // animation-fill-mode: backwards;
      transition: all 0.2s ease-in;
      text-shadow: 0 1rem 1.5rem rgba(#000, 0.5);

      &:hover {
        text-shadow: 0 1.5rem 2rem rgba(#000, 0.9);
        transform: translateY(-0.3rem) scale(1.025);
      }
    }
  }
}

.favorites-dropdown {
  animation: enlarge 0.5s ease-in;
  animation-fill-mode: backwards;
  border-radius: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes enlarge {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
