.directory-menu__item {
  min-width: 30%;
  height: 28rem;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 0.75rem 1.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.5);
  overflow: hidden;

  &:first-child {
    margin-right: 0.75rem;
  }

  &:last-child {
    margin-left: 0.75rem;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 2rem rgba(#000, 0.5);
    transition: box-shadow 0.3s ease-in;

    .directory-menu__item--background-image {
      transform: scale(1.1);
      transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    .directory-menu__item--content {
      opacity: 0.9;
    }
  }

  &--background-image {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
  }

  &--content {
    height: 9rem;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    opacity: 0.7;
    position: absolute;
    line-height: 0;

    &-title {
      font-weight: bold;
      font-size: 2.5rem;
      color: #4a4a4a;
    }

    &-subtitle {
      font-weight: lighter;
      font-size: 2.4rem;
      letter-spacing: 0.2rem;
    }
  }
}

.large {
  height: 38rem;
}
