$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -2.5rem;
  font-size: 1.7rem;
  color: $main-color;
}

.form__group {
  position: relative;
  margin: 4.5rem 0;

  .form__input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 2.2rem;
    padding: 1rem 1rem 1rem 0.5rem;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid $sub-color;
    margin: 2.5rem 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }

    &--label {
      color: $sub-color;
      font-size: 1.8rem;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 1rem;
      transition: 300ms ease all;

      &.shrink {
        @include shrinkLabel();
      }
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }
}

.google-icon {
  font-size: 3rem;
  margin: 0 1.5rem 0.4rem 0;
}
